<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Oficjalne pakiety KSeF.Client (Ministerstwo Finansow) na GitHub Packages.
         Wymagaja autoryzacji tokenem PAT (uprawnienie read:packages).
         Token podawany jest przez zmienne srodowiskowe - NIE wpisujemy go do repo. -->
    <add key="ksef-mf" value="https://nuget.pkg.github.com/CIRFMF/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ksef-mf>
      <add key="Username" value="%NUGET_GH_USER%" />
      <add key="ClearTextPassword" value="%NUGET_GH_PAT%" />
    </ksef-mf>
  </packageSourceCredentials>
</configuration>
